body{
    background-image: url("sport1.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.index{
    background-image: url("sport.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.index .box-2{
    background-color: rgba(8, 8, 8, 0.555);
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: whitesmoke;
}
.index .box{
    background-color: rgba(8, 8, 8, 0.555);
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: whitesmoke;
}

.index2{
    background-image: url("sport2.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
#YanMenu{
    padding-right: 250px;
    background-color: rgba(0, 0, 0, 0.686);
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-left: 20px;
}
.sidenav a{
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
}
.sidenav a:hover{
    color: rgb(150, 149, 149);
    border-bottom: 2px solid rgb(6, 107, 39);
}
.sportsclass{
    background-color: rgba(0, 0, 0, 0.718);
    padding: 50px 100px 50px 100px;
    margin-left: 500px;
    margin-right: 200px;
    margin-top: 200px;
}
.sportsclass .sports2{
    font-size: 50px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.box-2{
    background-color: rgba(255, 192, 203, 0.555);
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
#calculator{
    margin-bottom: 30px;
}

.index #total{
    background-color: rgb(67, 67, 67);
}
.index #record{
    font-size: 20px;
    text-align: center;
    background-color:  rgb(222, 219, 219) ;
    border-radius: 5px ;
    border-style: hidden;
}
.index #result{
    font-size: 20px;
    text-align: center;
    background-color:  rgb(222, 219, 219) ;
    border-radius: 5px ;
    border-style: hidden;
}
.index .sportsclass .sports{
    background-size: cover;
    padding-top: 100px;
}
#total{
    font-size: 20px;
    text-align: center;
    background-color: rgb(253, 96, 122);
    border-radius: 5px ;
    border-style: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#result{
    font-size: 20px;
    text-align: center;
    background-color:rgb(222, 219, 219) ;
    border-radius: 5px ;
    border-style: hidden;
}
#numbers{
    font-size: 20px;
    text-align: center;
    background-color: rgb(222, 219, 219);
    border-radius: 5px ;
    border-style: hidden;
}

.box{
    background-color: rgba(255, 192, 203, 0.555);
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn{
    background: rgb(253, 16, 56);
}

#save-btn {
    background: darkgreen;
}

/*responsive*/

@media only screen and (max-width: 400px) {
    .box{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    .box-2{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    html,body{overflow: auto;}
}

@media only screen and (max-width: 450px) {
    .box{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    .box-2{
        float: none;
        width: 100%;
        height: auto;
        background-color:white;
        z-index: 30;
    }
    html,body{overflow: auto;}
}